body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f7;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(10, 110, 211, 0.3);
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input[type="search"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f4f8;
    box-shadow: 0 2px 4px rgba(10, 110, 211, 0.1);
    color: #000; 
}

.calendar-section {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(10, 110, 211, 0.2);
    padding: 20px;
    background-color: #f7f7f7;
}

.calendar-section input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e6ebf1;
    box-shadow: 0 2px 4px rgba(10, 110, 211, 0.1);
    color: #000; 
}

.calendar-section #calendar-display {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #000; 
}

.charts-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-container {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(10, 110, 211, 0.2);
    margin-bottom: 20px;
    width: 45%;
    border-radius: 10px;
}

.chart-note {
    background-color: #e6ebf1;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(10, 110, 211, 0.1);
    margin-top: 20px;
    border-radius: 5px;
    color: #000; 
}

.user-profile {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(10, 110, 211, 0.2);
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.user-profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 2px 4px rgba(10, 110, 211, 0.1);
}

.user-profile h2 {
    margin: 20px 0 10px;
    color: #000; 
}

.user-profile p {
    font-size: 18px;
    color: #000; 
}

h2, h3 {
    color: #000; 
}
